<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>

  <title>Glossary | TMdict</title>

  <link rel="canonical" href="https://www.tmdict.com/book/" />
  <link rel="icon" type="image/x-icon" href="{{level}}favicon.ico" />
  <link rel="stylesheet" href="{{level}}src/css/kara{{cssHash}}.css" />
  <!--link rel="stylesheet" type="text/css" href="{{level}}src/js/bundle.css"-->
  <script defer type='module' src='{{level}}src/js/app{{appHash}}.js'></script>
</head>

<body>
</body>
</html>
