<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>CHALDEAの記録 | TMdict</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{level}}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{level}}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{level}}favicon-16x16.png">
  <link rel="manifest" href="{{level}}site.webmanifest">

  <link rel="stylesheet" type="text/css" href="{{level}}src/css/chaldea.css" />
  <link rel="stylesheet" type="text/css" href="{{level}}src/css/bundle.css">
  <script defer type="module" src="{{level}}src/js/{{path}}/app.js"></script>
</head>

<body>
</body>
</html>
