
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>TMdict | 型月辞典</title>

  <link rel="canonical" href="https://www.tmdict.com/{{path}}/" />
  <link rel="icon" type="image/x-icon" href="{{level}}favicon.ico" />
  <link rel='stylesheet' href='{{level}}src/css/bamboo{{cssHash}}.css'/>
  <!--link rel="stylesheet" type="text/css" href="{{level}}src/css/bundle.css"-->
  <script defer type='module' src='{{level}}src/js/{{path}}/app{{appHash}}.js'></script>
</head>
<body>
</body>
</html>
