<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{metaDescription}}">

  <title>{{attribute.name}} | TMdict</title>

  <link rel="canonical" href="https://www.tmdict.com/{{lang}}/{{attribute.hiragana.id}}.{{attribute.id}}" />
  <link rel="icon" type="image/x-icon" href="{{level}}favicon.ico" />
  <link rel='stylesheet' href='{{level}}src/css/bamboo{{cssHash}}.css'/>
</head>
<body>
  <div id="container">
    <div class="wrapper group">
      <div class="top">
        <div class="top-img"><a title="Home" href="{{level}}{{lang}}/">Home</a></div>
        <div class="nav">
          <div class="nav-title"><a href="{{level}}{{lang}}/">TM<span class="tm">dict</span></a></div>
          <div class="nav-ver">v3</div>
          <div class="nav-index">
            {{~#each nav.ja~}}
              <span class="{{#unless @index}}first{{/unless}}"><a class="{{#if (equals @key ../attribute.hiraganaRow.id)}}active{{/if}}" href="{{../level}}{{../lang}}/#?nav=ja.{{this.id}}" title="{{this.name}}">{{this.name}}</a></span>
            {{~/each~}}
            <span><a href="{{level}}{{lang}}/#?nav=ja" title="全">全</a></span>
          <br />
            {{~#each nav.en~}}
              <span class="{{#unless @index}}first{{/unless}}"><a href="{{../level}}{{../lang}}/#?nav=en.{{this.id}}" title="{{this.name}}">{{this.name}}</a></span>
            {{~/each~}}
            <span><a href="{{level}}{{lang}}/#?nav=en" title="all">all</a></span>
          </div>
        </div>
        <div class="side">
          <div class="search">
            <form action="search"><input type="text" name="q" id="searchbox" autoComplete="off" required="" /></form>
          </div>
          <div class="menu"><a title="{{app.i18n.about.lang}}" href="{{level}}{{lang}}/about{{ext}}">{{lookup app.i18n.about lang}}</a> | <a title="{{lookup app.i18n.site lang}}" href="{{level}}{{lang}}/site{{ext}}">{{lookup app.i18n.site lang}}</a> | <a title="{{lookup app.i18n.misc lang}}" href="{{level}}{{lang}}/misc{{ext}}">{{lookup app.i18n.misc lang}}</a> | <a title="{{lookup app.i18n.book lang}}" href="{{level}}book/">{{lookup app.i18n.book lang}}</a></div>
          <div class="lang"><span class="first"><a class="{{#if (equals lang 'en')}}active{{/if}}" href="{{level}}en/{{attribute.hiragana.id}}.{{attribute.id}}{{ext}}" title="EN">EN</a></span><span></span><a class="{{#if (equals lang 'zh')}}active{{/if}}" href="{{level}}zh/{{attribute.hiragana.id}}.{{attribute.id}}{{ext}}" title="ZH">ZH</a></span><span><a class="{{#if (equals lang 'ja')}}active{{/if}}" href="{{level}}ja/{{attribute.hiragana.id}}.{{attribute.id}}{{ext}}" title="JA">JA</a></span></div>
        </div>
      </div>
      <div class="main">
        <div class="main-content">
          <div class="entry-header group">
            <h1>{{attribute.name}}</h1>
            <div class="permalink"><a title="Link" href="{{level}}{{lang}}/{{attribute.hiragana.id}}.{{attribute.id}}{{ext}}">#</a></div>
            <div id="contact" class="contact"><a href="{{level}}contact/#{{lang}}-{{attribute.id}}">report error</a></div>
          </div>
          {{#each content}}
            <div class="group">
              {{#if @index}}
                <div class="section">§</div>
              {{/if}}
              {{#if this.category}}
              <div class="entry-category">
                {{~#each this.category~}}
                  {{#if @index}} · {{/if}}{{this.name}}
                {{~/each~}}
              </div>
              {{/if}}
              <div class="entry-content">
                {{{this.html}}}
              </div>
              {{#if this.img}}
                <div class="entry-image"><img title="{{this.source.name}}" src="{{../level}}src/img/glossary/{{this.img}}" alt="{{this.img}}" /></div>
              {{/if}}
              <div class="entry-source"><a href="{{../level}}{{../lang}}/#?nav=ja&src={{this.source.id}}">{{this.source.name}}: {{this.name.name}}</a></div>
              <div class="entry-links">
                <div id="raw" class="link"><a href="{{../level}}raw/{{this.source.id}}/{{../attribute.id}}.{{../lang}}.md">raw</a></div>
                <div id="git" class="link"><a href="https://github.com/tmdict/tmdict/blob/main/data/content/{{this.source.id}}/{{../attribute.id}}.{{../lang}}.md">git</a></div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="side">
        <div class="side-content">
          <div class="side-title"><span class="first-char">{{sidebar.list.name}}</span></div>
          <ul>
            {{#each (lookup sidebar.list.entries lang)}}
              <li class="{{#if (equals this.id ../attribute.id)}}active{{/if}}"><a title="{{this.name}}" href="{{this.hiragana}}.{{this.id}}{{../ext}}">
                <div class="entry group">
                  <div class="entry-title">{{this.name}}</div>
                  <div class="entry-category">{{this.category}}</div>
                </div>
              </a></li>
            {{/each}}
          </ul>
          {{{sidebar.content}}}
          <div class="side-menu">
            <div class="menu-arrow"><a title="Return" href="{{level}}{{lang}}/#?nav=ja.{{attribute.hiraganaRow.id}}">«</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
