<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{attribute.name}} | TMdict</title>

  <link rel="canonical" href="https://www.tmdict.com/{{lang}}/{{attribute.id}}" />
  <link rel="icon" type="image/x-icon" href="{{level}}favicon.ico" />
  <link rel='stylesheet' href='{{level}}src/css/bamboo{{cssHash}}.css'/>
</head>
<body>
  <div id="container">
    <div class="wrapper group">
      <div class="top">
        <div class="top-img"><a title="Home" href="{{level}}{{lang}}/">Home</a></div>
        <div class="nav">
          <div class="nav-title"><a href="{{level}}{{lang}}/">TM<span class="tm">dict</span></a></div>
          <div class="nav-ver">v3</div>
          <div class="nav-index">
            {{~#each nav.ja~}}
              <span class="{{#unless @index}}first{{/unless}}"><a href="{{../level}}{{../lang}}/#?nav=ja.{{this.id}}" title="{{this.name}}">{{this.name}}</a></span>
            {{~/each~}}
            <span><a href="{{level}}{{lang}}/#?nav=ja" title="全">全</a></span>
          <br />
            {{~#each nav.en~}}
              <span class="{{#unless @index}}first{{/unless}}"><a href="{{../level}}{{../lang}}/#?nav=en.{{this.id}}" title="{{this.name}}">{{this.name}}</a></span>
            {{~/each~}}
            <span><a href="{{level}}{{lang}}/#?nav=en" title="all">all</a></span>
          </div>
        </div>
        <div class="side">
          <div class="search">
            <form action="search"><input type="text" name="q" id="searchbox" autoComplete="off" required="" /></form>
          </div>
          <div class="menu"><a title="{{app.i18n.about.lang}}" href="{{level}}{{lang}}/about{{ext}}">{{lookup app.i18n.about lang}}</a> | <a title="{{lookup app.i18n.site lang}}" href="{{level}}{{lang}}/site{{ext}}">{{lookup app.i18n.site lang}}</a> | <a title="{{lookup app.i18n.misc lang}}" href="{{level}}{{lang}}/misc{{ext}}">{{lookup app.i18n.misc lang}}</a> | <a title="{{lookup app.i18n.book lang}}" href="{{level}}book/">{{lookup app.i18n.book lang}}</a></div>
          <div class="lang"><span class="first"><a class="{{#if (equals lang 'en')}}active{{/if}}" href="{{level}}en/{{attribute.id}}{{ext}}" title="EN">EN</a></span><span class=""><a class="{{#if (equals lang 'zh')}}active{{/if}}" href="{{level}}zh/{{attribute.id}}{{ext}}" title="ZH">ZH</a></span><span class=""><a class="{{#if (equals lang 'ja')}}active{{/if}}" href="{{level}}ja/{{attribute.id}}{{ext}}" title="JA">JA</a></span></div>
        </div>
      </div>
      <div class="main">
        <div class="main-content">
          <div class="page-content">
            {{{content}}}
          </div>
        </div>
      </div>
      <div class="side">
        <div class="side-content">
          <div class="side-title"><span class="first-char">{{sidebar.fname}}</span>{{sidebar.lname}}</div>
          {{{sidebar.content.top}}}
          {{{sidebar.content.contribute}}}
          {{{sidebar.content.project}}}
          <div class="side-menu">
            <div class="menu-arrow"><a title="Return" href="./">«</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{{#if (equals attribute.id 'search')}}
  <script defer type='module' src='{{level}}src/js/{{lang}}/search{{searchHash}}.js'></script>
{{/if}}
</html>
